In [1]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests
import csv
import numpy as np
pd.set_option('display.max_columns', None)
# importss above

In [2]:
newvariablesMexB = pd.read_csv('MexBeerIDs.csv')
newvariablesMexB = pd.DataFrame(newvariablesMexB)
newvariablesMexB = newvariablesMexB.drop("Unnamed: 0", axis=1, inplace = False)

In [3]:
newvariablesMexB

          ID                 Form
0    2612929  Stone Enjoy By 4.20
1    2605314  Stone Enjoy By 4.20
2    2605313  Stone Enjoy By 4.20
3    2605312  Stone Enjoy By 4.20
4    2589456          Stone Audit
..       ...                  ...
172  2291995           Pre Screen
173  2291901           Pre Screen
174  2291772           Pre Screen
175  2289870           Pre Screen
176  2289808           Pre Screen

[177 rows x 2 columns]

In [4]:
for value in newvariablesMexB['ID']:
    change = {value: "/submissions/" + str(value) + "/webview"}
    newvariablesMexB.replace(change, inplace = True)
    newvariablesMexB.dropna(how ='all', inplace = True)

In [5]:
newvariablesMexB

                               ID                 Form
0    /submissions/2612929/webview  Stone Enjoy By 4.20
1    /submissions/2605314/webview  Stone Enjoy By 4.20
2    /submissions/2605313/webview  Stone Enjoy By 4.20
3    /submissions/2605312/webview  Stone Enjoy By 4.20
4    /submissions/2589456/webview          Stone Audit
..                            ...                  ...
172  /submissions/2291995/webview           Pre Screen
173  /submissions/2291901/webview           Pre Screen
174  /submissions/2291772/webview           Pre Screen
175  /submissions/2289870/webview           Pre Screen
176  /submissions/2289808/webview           Pre Screen

[177 rows x 2 columns]

In [6]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36'
}

login_data = {
    'utf8': '✓',
    'user[email]': 'scottys@maxianet.com',
    'user[password]': '1Sandiego!',
    'user[remember_me]': '0'
    
}

In [7]:
lat = {}
lng = {}
name = {}
timedf1 = {}
timedf = {}
locname = {}

In [8]:
with requests.Session() as s:
    url = 'https://maxianetmex.campodata.com/sessions'
    r = s.get(url, headers=headers)
    soup = BeautifulSoup(r.content, 'html5lib')
    login_data['authenticity_token'] = soup.find('input', attrs={'name': 'authenticity_token'})['value']
    for weburls,weburl in zip(newvariablesMexB['ID'],newvariablesMexB['Form']):
        if weburl == 'Stone Enjoy By 4.20': 
            login_data['user[redirect_to]'] = f'{weburls}'
            r2 = s.post(url, data=login_data,headers=headers)
            soup2 = BeautifulSoup(r2.content, 'html5lib')
            data  = soup2.find("script")
            data2 = data.string
            res = data2.partition('lat')[2]
            reslng =data2.partition('lng')[2]
            lat[str(weburls)] = res[2:12]
            lng[str(weburls)] = reslng[2:12]
            name[str(weburls)] = soup2.find('h5',{'class':'text-secondary'}).text
            timedf1 = soup2.find('input',{'class': 'form-control-plaintext bg-panel-tint pl-4 input-lg'})['value'],
            timedf[str(weburls)] = soup2.find('input',{'class': 'form-control-plaintext bg-panel-tint pl-4 input-lg'})['value'],
            try: locname[str(weburls)] = soup2.find('h3',{'class':'page-heading'}).text
            except Exception as exception: pass

In [9]:
print(locname)

{'/submissions/2612929/webview': 'Licores San Quintín ', '/submissions/2605314/webview': 'Bierhalle', '/submissions/2605313/webview': 'Bosinger', '/submissions/2605312/webview': 'Cactus Licores'}